[submodule ".janus/dash.vim"]
	path = .janus/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule ".janus/delimitMate"]
	path = .janus/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".janus/funcoo.vim"]
	path = .janus/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule ".janus/vim-surround.vim"]
	path = .janus/vim-surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule ".janus/zencoding-vim"]
	path = .janus/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".janus/vim-gitignore"]
	path = .janus/vim-gitignore
	url = https://github.com/vim-scripts/gitignore.git
[submodule ".janus/vim-clojure-static"]
	path = .janus/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".janus/ag.vim"]
	path = .janus/ag.vim
	url = https://github.com/rking/ag.vim.git
