[user]
	name = Trunal Bhanse
	email = trunalb@gmail.com
[alias]
    st = status
    sub = submodule update --recursive
    p = pull
    co = checkout
	  datetag = !git tag `date +%Y%m%d%H%M`
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
[color]
    ui = auto
[core]
	excludesfile = /Users/trunalbhanse/.dotfiles/.gitignore_global
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
